*.log
venv/
__pycache__/
*.kml
.idea/
node_modules/
.next/
env/
locale-data.json
*.rdb
*.db 
.DS_Store
lte/
nonlte/
*.csv
*.zip
back-end/clusterCoordinate.json
front-end/Map_marker.svg:Zone.Identifier
*.mbtiles
*.geojson
*.pmtiles
*.mbtiles-journal
.env

pushgateway-*/
profiling_data/
data/
.env.local
helpful.txt
.env.*
README.md
# Data
*.tif
*.lcf
*.png
*.ppm
*.kml
*.kmz
*.hgt
*.sdf
*.gpkg
*.json
color/
back-end/DEM
front-end/public/asgeojson
