*.log
venv/
__pycache__/
*.kml
.idea/
node_modules/
.next/
env/
locale-data.json
*.rdb
*.db 
.DS_Store
lte/
nonlte/
*.csv
*.zip
back-end/clusterCoordinate.json
front-end/Map_marker.svg:Zone.Identifier
*.mbtiles
*.geojson
*.pmtiles
.env
back-end/alembic/versions/
__init__.py