.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  /* z-index: 1000; */
}

.button-container button {
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the background color and opacity as needed */
  /* z-index: 999; */
}

.loading-spinner {
  width: 50px;
  height: 50px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
